{% extends 'base.html.twig' %}
{% block title %}Hello ShoppingCarController!{% endblock %}
{% block body %}
    {{ parent() }}
    <div class="container">
        Transacción exitosa
    </div>
{% endblock %}