{% extends 'base.html.twig' %}

{% block title %}New Product{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="container my-3">
    <h1>Crear nuevo producto</h1>

    {{ include('product/_form.html.twig') }}

    <a class="btn btn-info btn-block" href="{{ path('product_index') }}">Regresar a la lista de productos</a>
    </div>
{% endblock %}
