{% extends 'base.html.twig' %}

{% block title %}Editar Ciudad{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="container">
        <h1>Editar ciudad</h1>

        {{ include('city/_form.html.twig', {'button_label': 'Actualizar'}) }}

        <a class="btn btn-info btn-block" href="{{ path('city_index') }}">Regresar a la lista</a>

        {{ include('city/_delete_form.html.twig') }}
    </div>
{% endblock %}
