{% extends 'base.html.twig' %}

{% block title %}Nueva Ciudad{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="container">
    <h1>Registrar Nueva Ciudad</h1>

    {{ include('city/_form.html.twig') }}

    <a class="btn btn-info btn-block" href="{{ path('city_index') }}">Regresar a la lista de ciudades</a>
    </div>
{% endblock %}
